<div class="card shadow d-flex flex-column m-3">
    <h5 class="align-self-start p-2">{this.state.upperdisplay}</h5>
    <h2 class="align-self-end p-2">{this.state.lowerdisplay}</h2>
</div>
<div class="container">
    <div class="row p-2">

        <div *ngFor="let num of data" class="col-3 shadow bg-grey" style="background-size: cover">

            <button  class="btn btn-primary col-12 mt-2" [value]="num" [btnText]="num">ery</button>
        </div>
        
       
        <!-- <p>{this.state.exceeded}</p> -->
    </div>
</div>