
 <div style="margin:20px" class="set">
    <input type="text" id="t1" style="width:250px;background-color:white" /><br />
    <br />

    <input type="button" id="b1" onclick="nine()" value="9" />
    <input type="button" id="b2" onclick="eight()" value="8" />
    <input type="button" id="b3" onclick="seven()" value="7" />
    <input type="button" id="b4" onclick="Add()" value="+" />
    <input type="button" id="b5" onclick="OFF()" value="OFF" /><br />


    <input type="button" id="b6" onclick="six()" value="6" />
    <input type="button" id="b7" onclick="five()" value="5" />
    <input type="button" id="b8" onclick="four()" value="4" />
    <input type="button" id="b9" onclick="sub()" value="-" />
    <input type="button" id="b10" onclick="ON()" value="ON" /><br />


    <input type="button" id="b11" onclick="three()" value="3" />
    <input type="button" id="b12" onclick="two()" value="2" />
    <input type="button" id="b13" onclick="one()" value="1" />
    <input type="button" id="b14" onclick="mul()" value="*" />
    <input type="button" id="b15" onclick="perce()" value="%" /><br />

    <input type="button" id="b16" onclick="zero()" value="0" />
    <input type="button" id="b17" onclick="zerozero()" value="00" />
    <input type="button" id="b18" onclick="dot()" value="." />
    <input type="button" id="b19" onclick="div()" value="/" />
    <input type="button" id="b20" onclick="CLEAR()" value="CLEAR" />
    <br />

    <input type="button" id="b22" onclick="backspace()" value="Backspace" />
    <input type="button" id="b21" onclick="equals()" value="=" />
</div>