
        input {
            width: 70px;
            height: 40px;
            background-color: blue;
            text-align: center;
        }

        .set {
            background-color: blanchedalmond;
            width: 400px;
            height: 480px;
            margin: auto;
            border: 3px black;
        }
 